@import "https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Franklin:wght@200&display=swap";
@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "daisyui";
@theme {
  --font-display: "Josefin Sans", sans-serif;
}
@layer base {
  html,
  body {
    @apply font-display text-[16px] bg-gradient-to-tl from-orange-400 to-pink-300 overflow-x-hidden;
    height: 100vh; /* ✅ chính xác hơn max-h-screen */
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
@layer components {
  .gradient-color {
    @apply bg-gradient-to-tl from-orange-400  to-pink-300;
  }

  #root {
    height: 100%;
    width: 100%;
  }
}
